DB_URL="Your_Database_URL_Here"
JWT_SECRET_KEY="Your_JWT_Secret"
JWT_ALGORITHM="HS256"
JWT_EXPIRE_MINUTES=0000
ENVIRONMENT="development"
JWT_REFRESH_SECRET_KEY="Your_JWT_Refresh_Secret"
JWT_REFRESH_EXPIRE_MINUTES=0000
SENTRY_DSN="YOUR_SENTRY_DSN"
CLOUDINARY_CLOUD_NAME="YOUR_CLOUDINARY_CLOUD_NAME"
CLOUDINARY_API_KEY="YOUR_CLOUDINARY_API_KEY"
CLOUDINARY_API_SECRET="YOUR_CLOUDINARY_API_SECRET"
GEMINI_API_KEY="YOUR_GEMINI_API_KEY"